    * {
        margin: 0;
        padding: 0;
        font-family: "Ubuntu", sans-serif;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }

    header {
        background: #f1f1f1;
    }

    .inner-width {
        max-width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 20px;
        margin: auto;
    }

    .menu-icon {
        width: 50px;
        height: 50px;
        background: #2c3a47;
        color: #fff;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        z-index: 2;
        border-radius: 20px;
        cursor: pointer;
        transition: .2s linear;
    }

    .menu-icon:hover {
        opacity: 0.9;
        transition: scale(1.1);
    }

    .navigation-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3a47;
        top: 0;
        right: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .6s;
    }

    .navigation-menu nav {
        display: grid;
    }

    .navigation-menu li {
        margin: 20px 0;
        overflow: hidden;
    }

    .navigation-menu a {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        position: relative;
        display: inline-block;
        transform: translateY(40px);
    }

    .navigation-menu a::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 15px;
        background-color: #fd7474;
        bottom: 0;
        left: 0;
        border-radius: 15px;
        z-index: -1;
        transition: .2s linear;
    }

    .navigation-menu a:hover::before {
        width: 100%;
    }

    p {
        max-width: 80%;
        margin: auto;
        padding: 40px 0;
        font-size: 18px;
        line-height: 1.4em;
        text-align: justify;
    }

    .menu-icon.active {
        background: #f1f1f1;
        color: #2c3a47;
    }

    .navigation-menu.active {
        right: 0;
        z-index: 1;
    }

    .navigation-menu.active a {
        transform: translateY(0);
        transition: .6s linear;
    }

    .navigation-menu.active li:nth-child(1) a {
        transition-delay: .2s;
    }

    .navigation-menu.active li:nth-child(2) a {
        transition-delay: .4s;
    }

    .navigation-menu.active li:nth-child(3) a {
        transition-delay: .6s;
    }

    .navigation-menu.active li:nth-child(4) a {
        transition-delay: .8s;
    }

    .navigation-menu.active li:nth-child(5) a {
        transition-delay: 1s;
    }

    #home {
        height: 100vh;
        min-height: 500px;
        background: url(../images/mountain.jfif);
        background-size: cover;
        background-attachment: fixed;
    }

    #home .home-content h1 {
        margin-bottom: 50%;
        padding-top: 15%;
        font-size: 80px;
        text-align: center;
        font-family: 'Syne Mono', monospace;
        margin-bottom: 60px;
        color: #f1f1f1;
    }

    #home .home-content h1::after {
        content: " Epic";
        animation: textanim 9s linear infinite;
    }

    @keyframes textanim {
        25% {
            content: " A Developer";
        }
        50% {
            content: " A Student";
        }
        75% {
            content: " Self-taught";
        }
    }

    #home .home-content h2 {
        padding: 1%;
        margin-left: 10%;
        font-size: 55px;
        text-align: center;
        margin-right: 10%;
        font-family: 'Raleway', sans-serif;
        position: relative;
        transform: translateY(40px);
    }

    #home .home-content h2:hover::before {
        width: 80%;
    }

    #home .home-content h2::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 15px;
        margin-left: 10%;
        background-color: #e97200;
        bottom: 0;
        left: 0;
        border-radius: 15px;
        z-index: -2;
        transition: .2s linear;
        transform: translateY(10px);
    }

    #home .home-content .icon-bar {
        margin-left: 25%;
        margin-top: 5%;
        width: 50%;
        /* Full-width */
        /*background-color: #555;
        /* Dark-grey background */
        overflow: auto;
        /* Overflow due to float */
    }

    #home .home-content .icon-bar a {
        margin: 9%;
        width: 100px;
        height: 100px;
        background: #2c3a47;
        color: #fff;
        text-align: center;
        line-height: 50px;
        font-size: 45px;
        z-index: 2;
        border-radius: 25px;
        cursor: pointer;
        transition: .2s linear;
    }

    #home .home-content .icon-bar a:hover {
        background-color: #2c3a47;
        opacity: 0.8;
        transition: scale(1.1);
        /* Add a hover color */
    }

    #home .home-content .active {
        background-color: #444;
        /* Add an active/current color */
    }

    #home .about-me {
        background-color: #2c3a47;
        width: 70%;
        margin-top: auto;
        margin-left: 15%;
    }

    #home .about-me p {
        margin-top: 1em;
        color: #f1f1f1;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7em;
    }

    #home .about-me a {
        color: #a6a6a6;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.0em;
        text-decoration: none;
        background-color: none;
        cursor: pointer;
    }
